<nav class="mt-10 flex-1 px-2 space-y-1">

  <%= render MenuLinkComponent.new(title: t("menu.users"),
    icon: "fa-user-group",
    path: admin_users_path) %>

  <%= render MenuLinkComponent.new(title: "Projects", icon: "fa-folder-open", path: projects_path) %>
  <%= render MenuLinkComponent.new(title: "Heavy task", icon: "fa-folder-open", path: heavy_tasks_path) %>
  <%= render MenuLinkComponent.new(title: "API Fetcher", icon: "fa-folder-open", path: api_fetcher_path) %>
  <%= render MenuLinkComponent.new(title: "Bistrots", icon: "fa-folder-open", path: restaurants_path) %>
  <%= render MenuLinkComponent.new(title: "Customer account", icon: "fa-calendar", path: user_customer_accounts_path(current_user)) %>
  <%= render MenuLinkComponent.new(title: "Document", icon: "fa-inbox", path: document_path) %>
  <%= render MenuLinkComponent.new(title: "Reports", icon: "fa-chart-column", path: report_path) %>
  <%= render MenuLinkComponent.new(title: "Contents", icon: "fa-chart-column", path: content_path) %>
  <%= render MenuLinkComponent.new(title: "Contract", icon: "fa-chart-column", path: contract_path) %>
  <%= render MenuLinkComponent.new(title: "Rails documentation", icon: "fa-chart-column", path: documentation_url, target: '_blank') %>
  <%= render MenuLinkComponent.new(title: "View Components", icon: "fa-chart-column", path: my_components_path) %>
</nav>
