<div>
  <% content_for :actions do %>
    <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
      <%= link_to t(".new"), new_restaurant_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1 class="font-bold text-4xl">Restaurants#index</h1>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
                ID
              </th>
              <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
                NAME
              </th>
              <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
                COUNTRY
              </th>
              <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
               CATEGORY
              </th>
              <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
               ACTION
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @restaurants.each do |restaurant| %>
              <tr class="even:bg-gray-50">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                  <%= link_to "#{restaurant["id"]}", restaurant_path(restaurant["id"]) %>
                </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                   <%= restaurant["name"] %>
                </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                   <%= restaurant["address"] %>
                </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                   <%= restaurant["category"] %>
                </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                  <%= button_to "Remove", restaurant_path(restaurant["id"]), method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
