
<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
              <%= User.human_attribute_name(:avatar) %>
            </th>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
              <%= User.human_attribute_name(:full_name) %>
            </th>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
              <%= User.human_attribute_name(:email) %>
            </th>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
              <%= User.human_attribute_name(:role_text) %>
            </th>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 first:sm:pl-6" scope="col">
              <%= User.human_attribute_name(:edit_link) %>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% users.each do |user| %>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                <% if user.avatar.attached? %>
                  <%= cl_image_tag user.avatar.key, class: "inline-block h-9 w-9 rounded-full", alt: "profile" %>
                <% else %>
                  <%= image_tag "profile.webp", class: "inline-block h-9 w-9 rounded-full", alt: "profile" %>
                <% end %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                <%= user.presented.public_send(:full_name) %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                <%= user.presented.public_send(:email) %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                <%= user.presented.public_send(:role_text) %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm first:font-medium text-gray-900 first:sm:pl-6">
                <%= user.presented.public_send(:edit_link) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
